body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* only prevent horizontal scroll */
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 12px 20px;
  color: white;
}

.logo {
  font-size: 20px;
}

/* Main nav */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  position: relative;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.dropdown
{
    position: relative;
}
/* Dropdown */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  background: #222;
  list-style: none;
  padding: 10px 0;
  /* min-width: 100px;   increase width */
  width: max-content; /* auto-fit text */
  display: none;
  z-index: 9999;
}

.dropdown-menu li {
  padding: 8px 16px;
  white-space: nowrap; /* prevents word breaking */
}

.dropdown-menu li:hover {
  background: #333;
}

/* Show dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Underline animation */
.dropdown-menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: red;
  transition: width 0.4s ease;
}

.dropdown-menu li:hover::after {
  width: 100%;
}


.login-btn {
  background: #ff3b3b;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}